// Component level CSS Variables
$timer-color: rgb(8, 104, 148);
$primary-color: rgb(0, 148, 255);
$timer-border-color: rgb(0, 255, 102);

.clock-panel {
    position: relative;
    width: 400px;
    height: 150px;
    margin: auto;
    padding-bottom: 20px;
    font-family: 'Roboto';

    .session-panel {
        height: 100px;
        width: 150px;
        padding: 10px;
        box-sizing: border-box;
        margin: auto;
        border: 1px solid $timer-border-color;
        border-radius: 10px;

        .session {
            font-size: 20px;
            font-weight: 300;
            text-align: center;
        }

        .time-left {
            font-size: 50px;
            font-weight: 400;
            text-align: center;
            color: $timer-color;
        }
    }

    .clock-button-group {
        height: 50px;
        text-align: center;
    }
}